main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    align-items: center;
    text-align: left;
}

main h3 {
    align-self: flex-start;
}

@media screen and (max-device-width : 480px) {

  *{
    max-width: 100vw;
  }
  header {
      top:0;
      background-color: white;
      position: fixed;
  }

  .barra-pesquisa {
      position: fixed;   
      margin-left: 9rem;     
  }

  .video {
    margin-top: 100px;
    width: 100vw;
  }
  

  footer {
      position: sticky;
  }

}