* {
    margin: 0px;
    padding: 0px;
    font-style: normal;
    list-style-type: none;
}

.menu-superior {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: gainsboro;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}

.card-video {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: rgb(249, 250, 168);
    border-width: 2px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

.card-video p {
    text-align: center;
    margin: 15px;
}

.imagem {
    max-width: 100%;
}

footer {
    padding: 10px;
    background-color: gainsboro;
    border-width: 2px;
    border-style: double;
    border-color: gray;
}
