main {
    display: flex;
    width: 100vw;
    height: 70vh;
    margin: 10px;
}

.card-unico-video {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 250, 168);
    border-width: 2px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}


.video {
  height: 70%;
}