main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    align-items: center;
    text-align: left;
}

.video {
  height: 70%;
}

main h3 {
    align-self: flex-start;
}